* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width:100%;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
    background-color:darkgray;
  }

  header {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    position:sticky;  
    justify-content: space-between;
    top: 0;
    z-index: 9999;  
    text-shadow: 2px 2px 5px black;
    color: white;
    font-size: 2vw;
    border-bottom: 3px solid;
    border-color:black;
  }

  header a {
    color: white;
    text-decoration: none;
  }

  header nav {
      display: flex;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    align-items: flex-end;
  }

  header nav ul li a {
    font-size: 3vw;
    padding-left: 10px;
    margin-right: 5px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 150px auto;
  }

  .vendor-panels {
    grid-template-columns: 150px auto auto auto 350px;
  }

  .grid-item {
    display: inline-grid;
  }


  #portfolio-wrapper {
    justify-content: center;
  }

  .sidebar {
    display:flex;
    color: white;
    font-weight:bold;
    text-shadow: 2px 2px 5px black;
    margin: 15px 5px;
    width: 100px;
    border-right: 1px solid black;
    position:relative;
    align-items: center;
    justify-content: center;
  }
  .bio {
    display:flex;
    justify-content:space-evenly;
  }

  .bio section {
    display: flex;
    flex-direction:column;
    width:60%;
  }
  .bio img {
    margin:10px;
    width:250px;
    flex-shrink: 0;
    box-shadow: 3px 3px 5px black;
  }

  .portfolio {
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    margin: 10px 0;
  }

  #portfolio-wrapper {
    width:100%;
    position: relative;
    left:0px;
  }
  .project{
    display: flex;
    border-style:solid;
    margin: 5px;
  }

  .project.main {
    display: flex;
    width:100%;
  }
  
  .project.secondary {
    width:48%;
  }
  .project button {
    display: flex;
    width:100%;
    height: 350px;
    background-size: cover;
    background-position:center;
    text-decoration: none;
    font-weight:bolder;
    color: black;
    font-size:larger;
    text-shadow: 1px 1px 5px white;
    opacity:0.5;
  }

  .project button:hover {
    transform:scale(1.1);
    opacity:1;
  }
  .project.main p {
    position:relative;
    top: 315px;
    left:38%;
  }

  .project.secondary p {
    position:relative;
    top:315px;
    left:15%;
  }
  .project.main button{
    background-image:url(./images/vending_machine.jpg);
  }

  #secondary-project-one {
    background-image:url(./images/secondary_project1.jpg);
  }

  #secondary-project-two {
    background-image:url(./images/secondary_project2.jpg);
  }

  footer {
    display:flex;
    position:relative;
    left:16%;
  }

  footer section {
    display: flex;
  }
  footer section a {
    display:flex;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
    font-size: 1.5vw;
    padding: 0 50px;
    justify-content: space-evenly;
    align-items: center;
  }

  .panel {
    background-color:darkred;
    color: white;
    margin: 5px;
  }

  .panel ul{
    list-style-type: none;
  }

@media screen and (max-width:1120px){

  .portfolio{
    margin: 10px;
  }
  .project.secondary{
    width:100%;
  }
}